// Color Variables
$primary-color: #6213d7;
$secondary-color: #ffae00d5;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #7a7a7a;
$text-color-dark2: #424242;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;
$icon-font: 'themify';