<!-- footer -->
<footer class="bg-dark">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <h5 class="text-light">Email</h5>
          <a class="text-white" href="mailto:michelleweng25@gmail.com">
            <p class="text-white paragraph-lg font-secondary">michelleweng25@gmail.com</p>
          </a>
          <h5 class="text-light">Phone</h5>
          <p class="text-white paragraph-lg font-secondary">+1 718 915 1919</p>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <h5 class="text-light">Social Media</h5>
          <a href="https://www.linkedin.com/in/michelle-weng-136a31186/"><p class="text-white paragraph-lg font-secondary">Linkedin</p></a>
          <a href="https://github.com/rirachii"><p class="text-white paragraph-lg font-secondary">Github</p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright &copy;<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Designed &amp; Developed by <a class="text-white-50" href="Themefisher">Themefisher</a></p>
  </div>
   
</footer>
<!-- /footer -->